
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&family=Poiret+One&display=swap');



*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color:#FFF5E8 ;
    font-family: "Inter Tight", sans-serif;
   
}
footer{
    background-color: #76aadf;
    padding: 1.5em;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 15px; /* Espacio entre los elementos */
    padding: 20px; 
}
.footer img {
    width: 40px; /* Tamaño de las imágenes del footer */
    height: 40px;
    border-radius: 50%; /* Bordes redondeados */
    
}
footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer p{
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
    font-size: 18px; /* Tamaño del texto */
    color: #FFF5E8; /* Color del texto */
    background-color: #76aadf;
    font-size: 5px;
}

img{
    max-width: 100%;
}
.imghabitacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.imghabitacion img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta las imágenes para que se adapten al contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}
.ver-mas {
    display: flex; /* Activa Flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    background-color: #76aadf; /* Color de fondo */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Hace el botón circular */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    transition: background-color 0.3s ease; /* Animación para el hover */
    position: relative; /* Para posicionar elementos internos si es necesario */
    margin-top: 75px;
    margin-left: 35px;
}

.ver-mas::after {
    content: ""; /* Elemento vacío para la flecha */
    position: absolute; /* Posiciona la flecha dentro del botón */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    width: 0; /* Sin ancho */
    height: 0; /* Sin alto */
    border-style: solid;
    border-width: 10px 0 10px 15px; /* Forma de flecha */
    border-color: transparent transparent transparent white; /* Color de la flecha */
    transform: translate(-50%, -50%); /* Ajusta la posición de la flecha */
}

.ver-mas:hover {
    background-color: #5a8bb5; /* Cambia el color de fondo al pasar el cursor */
}

.secciondestacados{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
video {
    max-width: 100%; /* Asegura que el video no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción del video */
    display: block; /* Asegura que el video se comporte como un bloque */
    margin: 0 auto; /* Centra el video horizontalmente */
}
.framefotos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 1rem;
    justify-content: center;
}
.fotosimg{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
#logo{
    width: 25%;
}

header{
    background-color: #76aadf;
    padding: 1.5em;
}

ul, li{
    list-style: none;
}
.equipo{
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: #FFF5E8;
}

nav{
    margin-top: 1em;
}

li{ 
    margin-block: .75em;
    width: 10cm;
    padding: .75em;
    border-radius: 1em;

}
.menu1 li{
   
    background-color: #FFF5E8;
}
h1{
    color:#093059;
    font-size: 36px;
    text-align: left;
    margin-block: 1em;
}
h2 {
    color: #093059; 
    font-size: 28px;
    margin: 1em 0;
    padding: 0.2em;
    text-shadow: 1px 1px 1px #093059; /* Agrega sombra al texto */
}
h3 {
    color: #093059;
    font-size: 22px;
    margin: 1em 0;
    padding: 0.2em;
}
h4 {
    color: #093059;
    font-size: 18px;
    margin: 1em 0;
    padding: 0.2em;

}
.equipo h4 {
    color: #093059; /* Asegúrate de que el color sea visible */
    font-size: 16px; /* Ajusta el tamaño del texto */
    margin-top: 5px; /* Espacio entre el texto y la imagen */
    text-align:left; /* Centra el texto */
    font-family: "Inter Tight", sans-serif; /* Cambia la fuente si es necesario */
}
h1, h2, h3 {
    font-family: "Poiret One", sans-serif;
}
ol li{
    color: #093059;
    margin-block: .5em;
    padding: .5em;
    border-radius: 1em;
    font-size: 18px;
    font-family: "Inter Tight", sans-serif;
}
p{
    color: #093059;
    font-size: 18px;
    margin-block: .5em;
    padding: .5em;
    background-color: #FFF5E8e7; 
    border-radius: 1em;
    font-family: "Inter Tight", sans-serif;


}

.formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    gap: 15px;
  }
  
  .formulario label {
    font-size: 16px;
    color: #093059;
  }
  
  .formulario input,
  .formulario textarea {
    border: 1px solid #76aadf;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    color: #000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    resize: none;
  }
  
  .formulario button {
    padding: 10px;
    border: 1px solid #76aadf;
    background-color: transparent;
    color: #76aadf;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formulario button:hover {
    background-color: #76aadf;
    color: #093059;
  }
  .formulario input[type="file"] {
    border: none;
    padding: 0;
    color: #000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
  }
  .formulario input[type="file"] {
    position: relative;
    padding: 10px;
    border: 1px solid #76aadf;
    border-radius: 0;
    background-color: transparent;
    color: #000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    cursor: pointer;
  }
  
  
  .formulario input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .formulario input[type="file"]::before {
    content: 'Seleccionar archivo';
    display: inline-block;
    background: transparent;
    color: #093059;
    border: 1px solid #093059;
    padding: 6px 12px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formulario input[type="file"]:hover::before {
    background-color: #76aadf;
    color: #093059;
  }
  
  .formulario select {
      border: 1px solid #76aadf;
      border-radius: 0;
      padding: 10px;
      background-color: transparent;
      color: #000;
      font-family: 'Inter Tight', sans-serif;
      font-weight: 300;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='1 1 6 6 11 1' stroke='%23bc3637' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
    }

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
    padding: 10px;
}
.logo {
    width: 75px; 
    height: auto;
}
  .titulo {
    margin: 0;
    font-size: 24px;
    color: #FFF5E8e7;
  
}
.logoytitulo {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.menu-icon {
    cursor: pointer;
    font-size: 24px;
    background-color: #5c90c6;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    position: absolute; 
  right: 20px; 
  top: 10px;
}
.menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }
  
  
#menu-toggle:checked + .menu-icon + .menu {
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#menu-toggle {
    display: none; /* Oculta el checkbox */
}
 
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.menu li {
    margin: 10px 0;
}
  
.menu a {
    text-decoration: none;
    color: #093059; 
    font-size: 18px;
    text-align: center;
}
.menu1 a.active {
    color: #f2c464; /* Color destacado para la página activa */
    font-weight: 700; /* Hace el texto más grueso */
    border-bottom: 2px solid #f2c464; /* Agrega una línea debajo del texto */
}
.boton-cargar {
    display: inline-block;
    background-color: #76aadf;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.boton-enviar {
    display: inline-block;
    background-color: #f2c464;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.boton-cargar:hover, .boton-enviar:hover {
    background-color: #5a8bb5;
}
.cuestionario {
    display: block;
    background-color: #f2c464;
    padding: 10px 20px;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    text-align: center;
    width: auto;
    max-width: 300px;
    position: relative;
    margin: 2em auto; 
}

.botoncuestionario {
    color: #FFF5E8e7; 
}
.pregunta {
    color: #093059; 
    font-size: 18px;
    margin:1em auto;
    padding: 1em;
    background-color: #f2c464;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 90%;
    font-family: "Inter Tight", sans-serif;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box; 
    position: relative;

}
.pregunta::after {
    content: ""; /* Elemento vacío para el triángulo */
    position: absolute; /* Posiciona el triángulo relativo al contenedor */
    bottom: -10px; /* Coloca el triángulo debajo del globo */
    left: 20px; /* Ajusta la posición horizontal del piquito */
    width: 0; /* Sin ancho */
    height: 0; /* Sin alto */
    border-style: solid;
    border-width: 10px 10px 0 10px; /* Triángulo apuntando hacia abajo */
    border-color: #f2c464 transparent transparent transparent; /* Color del triángulo */
}
.respuesta {
    color: #093059; 
    font-size: 18px;
    margin:1em auto;
    padding: 1em;
    background-color: white; 
    border-radius: 20px;
    font-family: "Inter Tight", sans-serif;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 90%;
    text-align: center;
    display: flex; /* Usa flexbox para centrar el contenido */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center;
    box-sizing: border-box; 
    overflow-wrap: break-word; /* Permite que el texto se ajuste al ancho del contenedor */
    word-wrap: break-word;
    word-break: break-word;
}
.servicios {
    display: grid; /* Activa el grid */
    grid-template-columns: repeat(1fr); /* Dos columnas de igual ancho */
    grid-auto-rows: 100px; 
    gap: 20px; /* Espacio entre las columnas y filas */
    padding: 20px; /* Espacio interno del contenedor */
    justify-items: stretch;
    
}

.servicio {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    text-align: center; /* Centra el texto */
}
.servicio p {
    background-color: transparent; /* Elimina cualquier fondo opaco */
    color: #FFF5E8e7; /* Asegura que el texto sea visible sobre la imagen */
    font-size: 18px; /* Ajusta el tamaño del texto */
    font-weight: 500;
    text-shadow: #000 1px 1px 2px; /* Agrega sombra al texto para mejorar la legibilidad */
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina padding adicional */
    text-align: center;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; 
}
.servicio:nth-child(1) {
    background-image: url("../imagenes/fondoservicios.jpg"); /* Imagen de fondo para el primer servicio */
}
.servicio:nth-child(2) {
    background-image: url("../imagenes/fondoservicio2.jpg "); /* Imagen de fondo para el segundo servicio */
}

.servicio:nth-child(3) {
    background-image: url("../imagenes/fondoservicio3.jpg"); /* Imagen de fondo para el tercer servicio */
}

.servicio:nth-child(4) {
    background-image: url("../imagenes/fondoservicios4.jpg "); /* Imagen de fondo para el cuarto servicio */
}

.servicio:nth-child(5) {
    background-image: url("../imagenes/fondoservicio5.jpg"); /* Imagen de fondo para el quinto servicio */
}
.requisitos li {
    display: flex; /* Activa Flexbox para alinear la huella y el texto */
    align-items: center; /* Centra verticalmente la huella y el texto */
    gap: 10px; /* Espacio entre la huella y el texto */
    margin-bottom: 10px; /* Espacio entre los ítems de la lista */
    font-family: "Inter Tight", sans-serif; /* Fuente del texto */
    font-size: 18px; /* Tamaño del texto */
    color: #093059; /* Color del texto */
}

.item{
    width: 30px; /* Ajusta el tamaño de la huella */
    height: auto; /* Mantiene la proporción de la imagen */
}




@media screen and (min-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    body{
       
        font-family: "Inter Tight", sans-serif; 
        font-size: larger;
       
    }
    main {
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: calc(100vh - 100px); /* Asegura que el contenido ocupe toda la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 20px; /* Agrega espacio interno */
    box-sizing: border-box; 
    text-align: center;
    }
       
    img{
        max-width: 100%;
    }
   .logo{
    width: 100px;
    height: auto;
    }

    header{
    padding: 1.5em;
   }  

   ul, li{
    list-style: none;
   }
   h1{

    font-size: 40px;
    text-align: left;
    margin-block: 1em;
   }

.logo {
    width: 75px; 
    height: auto;
}
  .titulo {
    margin-left: 10px;
    font-size: 24px;
    flex-grow: 1; 
}

.secciondestacados{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
.framefotos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    padding: 1rem;
    justify-content: center;
}
.fotosimg{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.equipo{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.Jazmín div {
    display: flex; /* Activa Flexbox dentro de cada celda */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */
}
.equipo h4 {
    font-size: 16px; /* Ajusta el tamaño del texto */
    color: #093059; /* Color del texto */
    margin: 0; /* Elimina márgenes adicionales */
    text-align: center ; /* Centra el texto */
    font-family: "Inter Tight", sans-serif; /* Fuente */
}
a{
    text-decoration: none;
    color: #FFF5E8;
}

nav{
    margin-top: 1em;
}

li{ 
    margin-block: .75em;
    width: 10cm;
    padding: .75em;
    border-radius: 1em;

}
.menu1 li{
   
    background-color: #FFF5E8;
}
h1{
  
    font-size: 42px;
    text-align: left;
    margin-block: 1em;
}
h2 {
    
    font-size: 34px;
    margin: 1em 0;
    padding: 0.2em;
    
}
h3 {
    
    font-size: 28px;
    margin: 1em 0;
    padding: 0.2em;
}
h4 {
   
    font-size: 22px;
    margin: 1em 0;
    padding: 0.2em;

}

.equipo h4 {
    color: #093059; /* Asegúrate de que el color sea visible */
    font-size: 16px; /* Ajusta el tamaño del texto */
    margin-top: 5px; /* Espacio entre el texto y la imagen */
    text-align:center; /* Centra el texto */
    font-family: "Inter Tight", sans-serif; /* Cambia la fuente si es necesario */
}


ol li{
    
    margin-block: .5em;
    padding: .5em;
    border-radius: 1em;
    font-size: 22px;
    font-family: "Inter Tight", sans-serif;
}
p{
   
    font-size: 22px;
    margin-block: .5em;
    padding: .5em;
    background-color: #FFF5E8e7; 
    border-radius: 1em;
    font-family: "Inter Tight", sans-serif;


}
.logo {
    width: 75px; 
    height: auto;
}
  .titulo {
    margin-left: 10px;
    font-size: 30px;
    flex-grow: 1; 
  
}


.gatitodurmiendo{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
  
}
.formulario label {
    font-size: 20px; /* Tamaño del texto */
    color: #093059; /* Color del texto */
    text-align: left; /* Alinea el texto hacia la izquierda */
    display: block; /* Asegura que la etiqueta ocupe toda la línea */
    margin-bottom: 5px; /* Agrega espacio entre la etiqueta y la caja */
}

.formulario input,
.formulario textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1000px; /* Define un ancho máximo para evitar que sea demasiado grande */
    font-size: 20px; /* Aumenta el tamaño del texto */
    padding: 12px; /* Ajusta el espacio interno */
    border: 1px solid #76aadf;
    border-radius: 0;
    background-color: transparent;
    color: #000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
    resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    box-sizing: border-box;
}

.formulario button {
    font-size: 20px; /* Aumenta el tamaño del texto del botón */
    padding: 15px 25px; /* Ajusta el espacio interno del botón */
}
.formulario {
    width: 500px;
    margin: 0 auto;
    gap: 15px;
  }
  .formulario input[type="file"] {
   font-size: 18px;

  }
  .formulario select {
    font-size: 18px; /* Aumenta el tamaño del texto del select */
  }
  .cuestionario {
    width: 100%; /* Aumenta el ancho del botón */
    max-width: 500px; /* Define un ancho máximo */
    padding: 15px 30px; /* Ajusta el espacio interno */
    font-size: 20px; /* Aumenta el tamaño del texto */
}
.requisitos li {
    font-size: 25px; /* Aumenta el tamaño del texto de los requisitos */
    margin-bottom: 15px; /* Espacio entre los ítems de la lista */
    text-align: justify;
}
.requisitos li:last-child {
    max-width: 800px; 
    margin: 0 auto; 
    width: 100%; 
}
.item {
    width: 40px; /* Ajusta el tamaño de la huella */
    height: auto; /* Mantiene la proporción de la imagen */
}

.framefotos1 ,.framefotos2{
    display: grid; /* Activa el diseño de cuadrícula */
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px; /* Espacio interno del contenedor */
}

.framefotos1 img , .framefotos2 img , video{
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    object-fit: cover; /* Ajusta las imágenes para que se adapten al contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; 
}
.framefotos1 img:nth-child(3) {
    grid-column: span 2; /* Hace que ocupe las dos columnas */
    justify-self: center; /* Centra el servicio horizontalmente */

}
.servicios {
    display: grid; /* Activa el diseño de cuadrícula */
    grid-template-columns: repeat(2, 2fr); /* Crea 2 columnas de igual ancho */
    grid-template-rows: repeat(3, 200px); /* Crea 3 filas automáticas */
    gap: 10px; /* Espacio entre las columnas y filas */
    padding: 10px; /* Espacio interno del contenedor */
    justify-content: center; /* Centra el contenido horizontalmente */
 
}

.servicio {
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que el contenido ocupe toda la altura del rectángulo */
    color: #FFF5E8; /* Color del texto */
    font-size: 18px; /* Tamaño del texto */
    font-weight: 500; /* Peso del texto */
    text-shadow: 1px 1px 2px #000;
    height: 100%; 
    width: 100%;
}

/* Centra el último servicio en la última fila */
.servicio:nth-child(5) {
  
    justify-self: center; /* Centra el servicio horizontalmente */

}
}

@media screen and (min-width: 1024px) {
 
   
 .menu-icon {
    display: none;
    }
.menu {
       display: block;
    }
.menu ul {
    flex-direction: row; /* Cambia la dirección a fila */
    justify-content: space-between;
    gap: 0.5em;
}
.menu li {
    width: 180px;
    text-align: center;
    background-color: transparent;
    margin-top: 0%;
    margin: 0%;
    padding: 0.5em;
}
.menu1 a {
    color: #FFF5E8; 
    font-size: 20px; 
    font-weight: 400;
    transition: color 0.3s ease;
}
.menu1 a:hover {
    color: #f2c464; 
}
.framefotos {
        display: grid; /* Cambia a diseño de cuadrícula */
        grid-template-columns: repeat(4, 1fr); /* 4 columnas para fotos */
        gap: 2rem; /* Espacio entre las fotos */
    }

.fotosimg {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
        height: auto; /* Mantiene la proporción de las imágenes */
        border-radius: 10px; /* Bordes redondeados */
    }

footer {
        width: 100vw; /* Asegura que el footer ocupe todo el ancho */
        padding: 3em; /* Espaciado interno */
        text-align: center; /* Centra el contenido */
        box-sizing: border-box; /* Incluye el padding en el ancho total */
    }

footer img {
        width: 80px; /* Aumenta el tamaño de las imágenes del footer */
        height: 80px;
    }
    
   
.formulario input,
.formulario textarea {
        max-width: 1000px; /* Aumenta el ancho máximo para pantallas grandes */
        font-size: 24px; /* Aumenta el tamaño del texto */
        padding: 20px; /* Más espacio interno */
    }
  

.faq{
        display: grid; /* Cambia a diseño de cuadrícula */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto; /* 2 filas automáticas */
        
    }
.preguntasyrespuestas {
    
        max-width: 800px; /* Limita el ancho máximo */
        margin: 0 auto; /* Centra el contenedor */
        
    }

.equipo img {
        width: 230px; /* Ancho fijo para las imágenes */
        height: 230px; /* Alto fijo para las imágenes */
        object-fit: cover; /* Ajusta la imagen para que se adapte al contenedor */
        border-radius: 50%; /* Hace que las imágenes sean circulares */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra para profundidad */
    }

.equipo {
        display: grid; /* Activa el diseño de cuadrícula */
        grid-template-columns: repeat(2, 1fr); /* Crea 3 columnas iguales */
        gap: 20px; /* Espacio entre las imágenes */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        padding: 20px; /* Espacio interno del contenedor */
    }
    .framefotos1 {
        display: grid; /* Activa el diseño de cuadrícula */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Crea columnas flexibles */
        gap: 20px; /* Espacio entre las imágenes */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        padding: 20px; /* Espacio interno del contenedor */
    }
    .framefotos1 img {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
        height: 200px; /* Establece una altura fija para todas las imágenes */
        object-fit: cover; /* Ajusta las imágenes para que se adapten al contenedor sin distorsionarse */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    }
    .framefotos2 {
        display: grid; /* Activa el diseño de cuadrícula */
        grid-template-columns: repeat(3, 1fr); /* Define 3 columnas iguales */
        grid-template-rows: repeat(2, auto); /* Define 2 filas automáticas */
        gap: 20px; /* Espacio entre las imágenes */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        padding: 20px; /* Espacio interno del contenedor */
    }
    .framefotos2 img, .framefotos2 video {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
        height: 200px; /* Establece una altura fija para todas las imágenes */
        object-fit: cover; /* Ajusta las imágenes para que se adapten al contenedor sin distorsionarse */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    }
    .contenedor-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    
      .logoytitulo {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      
    .servicios {
        display: grid; /* Activa el diseño de cuadrícula */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 300px; /* Crea 2 filas automáticas */
        gap: 10px; /* Espacio entre las columnas y filas */
        padding: 10px; /* Espacio interno del contenedor */
        justify-content: center; /* Centra el contenido horizontalmente */
     
    }
    .servicio:nth-child(5) {
   
        justify-self: center; /* Centra el servicio horizontalmente */
    
    }

}
